*{
	margin: 0;
	padding: 0;
}
button{
	cursor: pointer;
}
a{
	text-decoration: none;
}
img{
	border:none;
}
body{
	padding-top: 61px;
	font-family: 微软雅黑;
	background: #ececec;
	/*background: #fff;*/
	font-size: 24px;
}
.con{
	z-index: 1;
	position: fixed;
	width: 100%;
	top:0;
}
.nav{
	max-width:1350px;
	min-width: 600px;
	height: 59px;
	margin: 0 auto;
	background: #fff;
	line-height: 59px;
	border: 1px solid #ececec;
}
.icon-daohang,.close1{
	margin:0 11px;
}
.nav_son{
	margin-left: 16px;
   	max-width: 410px;
    height: 100%;
    display: inline-block;
    border-right: 1px solid #ececec;
}
.logo{
	font-size: 1em;
}
.icon-sousuo,.icon-daohang{
	font-size: 1em;
	cursor: pointer;
	border: 5px solid transparent;
	/* display: none; */
}
.icon-sousuo{
	
}
.icon-error{
	font-size: 1em;
	cursor: pointer;
	border: 5px solid transparent;
	display: none;
}
.ad{
	float: right;
	height: 59px;
	width: 267px;
}
.mutiselect{
	min-width: 266px;
	height: 59px;
	float: right;
	font-size: 1em;
	color: #9a9a9a;
	display: none;
	text-align: center;
	border-left: 1px solid #ececec;
}
.file_mutiselect,.date_mutiselect{
	/*margin-top: 6px;*/
	display: inline-block;
	text-indent: 0;
	min-width: 111px;
	height:41px;
	line-height: 39px;
	border-radius: 2px;
	border: 1px solid #ececec;	
}
.date_mutiselect{
	
}
.file_mutiselect_div,.date_mutiselect_div{
	display: inline-block;
	text-align: center;
	width: 83px;
	height: 41px;
	border-right: 1px solid #ececec;
}
.date_option{
	position: absolute;
	width: 203px;
	height: 302px;
	background: #fff;
	margin-top: 49px;
	margin-left: -75px;
	overflow-y: scroll;
	display: none;
}
.option_div{
	height: 42px;
	font-size: 1em;
	color: #a1a1a1;
	border-top: solid 1px #ececec;
}
.option_div>input,.project_option>input{
	display: none;
}
.option_div>label,.project_option>label{
	cursor:pointer;
}
.option_div>label>div,.project_option>label>div{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #fff;
	border: 2px solid #fff;
	outline: 1px solid #ededed; 
}
.file_option{
	width: 403px;
	height: auto;
	background: #fff;
	text-align: left;
	position: absolute;
	margin-left: -274px;
	margin-top: 50px;
	display: none;
}
.file_option_left,.file_option_right{
	width: 50%;
	height: 100%;
	box-sizing: border-box; 
}
.file_option_left{
	float: left;
	border-right: solid 1px #ececec;
}
.file_option_right{
	float: right;
}
.project{
	font-size: 1em;
	color: #c4c4c4;
	text-indent: 51px;
	line-height: 70px;
	height: 60px;	
}
.project_option{
	height: 42px;
	color: #a1a1a1;
	text-indent: 20px;
	border-top: solid 1px #ececec;
}
.date_mutiselect_span{
	
}
#xiangxia1,#xiangxia2{
	cursor: pointer;
	border-color: transparent;
	border-style: solid;
	
	border-width:13px 8px;
}
#xiangshang1,#xiangshang2{
	cursor: pointer;
	border-color: transparent;
	border-style: solid;
	border-width:13px 8px;
	display: none;
}
.body1{
	padding-top: 61px;
	max-width: 1352px;
	min-width: 600px;
	margin:0 auto;
	display: none;
	min-height:calc(100vh - 121px);
}
.nav_containter{
	height: 635px;
	box-sizing: border-box;
	border: solid 1px #ececec;
	border-top: none;
}
.nav_containter_left{
	display: inline-block;
	width: 482px;
	max-width: 482px;
	min-width: 272px;
	height: 100%;
	direction: rtl;
	border-right: solid 1px #ececec;
}
.Awards,.Live_Judging,.Profiles,.Editorial,.About,.Jobs_a{
	text-decoration: none;
	font-size: 1.5em;
	color: #3d3d3d;
}
.Awards{
	margin-top: 30px;
	text-indent: 116px;
}
.Live_Judging{
	text-indent: 28px;
}
.Profiles{
	text-indent: 117px;
}
.Editorial{
	text-indent: 76px;
}
.About{
	text-indent: 112px;
}
.Jobs_a{
	text-indent: 163px;
}
.nav_title{
	padding-top: 44px;
	box-sizing:border-box;
}
.nav_title>ul{
	list-style-type: none;
}
.nav_title>ul li{
	list-style: none;
	list-style-type: none;
}
.nav_containter_right{
	float: right;
	width: 266px;
	height: 100%;
	border-left: solid 1px #ececec;
}
.contact_way>a{
	text-decoration: none;
}
.contact_way>p{
	font-size: 1em;
	color: #9a9a9a;
	padding-top: 124px;
	text-indent: 133px;
}
.nav_title{
	/*max-width: 48px;
	min-width: 273px;*/
	height:344px; 
	border-bottom: solid 1px #ececec;
}
.facebook{
	color: #47639f;
	font-size: 57px;
}
.qq{
	color: #4cafe9;
	font-size: 57px;
}
.weixin{
	margin-right: 53px;
	color: #2dc100;
	font-size: 57px;
}
.github{
	margin-right: 54px;
	color: #191717;
	font-size: 57px;
}
.tumblr{
	font-size: 57px;
}
.weibo{
	color: #ea5d5c;
	font-size: 57px;
}
.post_job{
	font-size: 1em;
	color: #9a9a9a;
	margin-left:16px ;
	height: 146px;
	line-height: 56px;
}
.post_job>button{
	background: #fff;
	font-size: 1em;
	color: #9a9a9a;
	text-indent: 0;
	line-height: 1.5em;
	margin-left: 76px;
	border: solid 1px #ededed;
}
.show_job{
	height: 50px;
	overflow: hidden;
	border-top: solid 1px #ececec;
	border-bottom: solid 1px #ececec;
}
.show_job>p{
	line-height: 1em;
	font-size: 18px;
	color:#404040;
	margin-left: 14px;
	margin-top: 8px;
}
.show_job span{
	font-size: 0.54em;
	color:#9a9a9a;
}
.search{
	padding-top: 61px;
	max-width: 1352px;
	min-width: 600px;
	margin:0 auto;
	display: none;
	height:80vh;
}
.search_tit{
	height:183px ;
	font-size: 1.5em;
	color: #8e8e8e;
	text-indent: 16px;
	line-height: 256px;
	border:solid 1px #f6f6f6; 
	border-top: none;
}
.search_input{
	outline: none;
	height: 80px;
	font-size:1em ;
	color: #8e8e8e;
	width: 100%;
	padding-left: 24px;
	border:solid 1px #f5f5f5;
	box-sizing: border-box;
}
.show{
	height: 387px;
	border:solid 1px #f5f5f5;
}
#body{
	width: 1350px;
	min-height:calc(100vh - 121px) ;
	/*display: none;*/
	margin: 52px auto 69px;
}
.left{
	width: 488px;
	min-width: 400px;
	height: 702px;
	float: left;
	background: #fff;
}
.clear{
	clear: both;
}
.date{
	width: 195px;
	height: 201px;
	background: #f7f7f7;
	float: left;

	overflow: hidden;
}
.day{
	margin-top: -8px;
	text-indent:16px ;
	font-size: 131px;
	color:#9a9a9a ;
	font-family: bold;
	height: 150px;

}
.month{
	margin-left:18px ;
	font-size: 14px;
	color: #8e8e8e;
}
.tit{
	text-indent:16px ;
	font-size: 0.79em;
	color: #404040;
}
.share{
	position: relative;
	width: 293px;
	height: 201px;
	float: right;

}
.btn_share{
	position: absolute;
	top:20px;
	right: 17px;
	background: #fff;
	border-radius:3px;
	border:1px solid #8e8e8e;
	font-size: 14px;
	color: #8e8e8e;
}
.left_top{
	height: 201px;
	border-bottom: 2px solid #ececec;
}
.left_center{
	overflow: hidden;
	height: 358px;
	border-bottom: 2px solid #ececec;
}
.left_bottom{
	width:487px ;
	overflow: hidden;
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	height: 138px;
}
.WEBSITE{
	font-size: 14px;
	color: #8e8e8e;
	margin-top:200px;
	text-indent: 28px;
}
.Leviev{
	margin-top:20px;
	text-indent: 28px;
	font-size: 29px;
}
.caption{
	margin-top:23px;
	margin-left: 28px;
	width: 366px;
	font-size:14px;
}
.CREDITS{
	font-size: 0.5em;
	color: #9a9a9a;
	padding:14px 0 20px ;
	text-indent: 28px;
}
.Red_Collar{
	margin-top: 60px;
	font-size: 14px;
	text-indent: 28px;
}
.Red_Collar>span{
	font-size:11px ;
	color: #9a9a9a;
}
.right{
	width:861px ;
	height: 702px;
	float: right;
}
.r_top{
	width:860px ;
	height:560px ;
}
.r_top>img{
	width: 860px;
	height: 560px;
}
.r_bottom{
	width: 860px;
	height: 141px;
/*	background: #fff;*/

}

.r_b_left{
	float: left;
	width: 48%;
	height: 100%;	
	background: url(images/bg.png);
}
.r_b_l_top{
	overflow: hidden;
	height: 54%;
	box-sizing: border-box;
	line-height: 54px;
	border-right: 1px solid #ececec;
}
.r_b_l_top>p{
	text-indent: 18px;
	font-size: 13px;
	color: #9a9a9a;
}
.r_b_l_bottom{
	height: 46%;
}
.points,.days{
	width: 50%;
	height: 100%;
	font-size: 13px;
	color: #9a9a9a;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #ececec;
}
.points>span,.days>span{
	font-size:2em;
	color: #000;
	margin-left: 54px;
	vertical-align:-38%;
}
.points{
	float: left;
}
.days{
	float: right;
}
.r_b_right{
	float: right;
	width: 52%;
	height: 100%;
	background: #fff;
	direction: rtl;
	overflow: hidden;
}
.see_case{
	font-size: 0.5em;
	color: #b5b5b5;
	background: #fff;
	border-radius: 4px;
	padding: 9px;
	margin-top: 87px;
	border: solid 1px #d9d9d9;
}
.Launch_project{
	margin-top: 87px;
	margin-right: 18px;
	font-size: 13px;
	color: #fff;
	background: #393939;
	padding: 9px;
	border-radius: 4px;
	border: solid 1px #4e4e4e;
}
#dot1,#dot2,#dot3{
	position: absolute;	
	width:8px ;
	height: 8px;
	border-radius: 50%;
	border:2px solid #c3c3c3;
	cursor: pointer;
	margin-left: -26px;
}
#dot1{
	background: #5d5d5d;
	margin-top: 217px;
}
#dot2{
	background: #fff;
	margin-top: 231px;
}
#dot3{
	background: #fff;
	margin-top: 245px;
}
.container{
	width: 780px;
	height: auto;
	direction: rtl;
}
.down_row{
	height: 160px;
	background: #fff;
	direction: rtl;
	line-height: 160px;
	text-indent: 70px;
}
.down{
	font-size:52px;
	color: #f6f6f6;                 
}
.time_thread{
	width:196px ;
	height:1366px;
	background: #fff;
}
.time_thread_left,.time_thread_right{
	width: 50%;
	height:1366px ;
	box-sizing: border-box;
	border: 1px solid #f8f8f8;
}
.time_thread_left{
	float: left;
}
.time_thread_right{
	float: right;
}
.eighteen{
	height:242px ;
	padding-top: 176px;
	box-sizing: border-box;
	border-bottom: 1px solid #f8f8f8;
}
.eighteen>p,.seventeen>p,.thirteen>p{
	font-size: 0.75em;
	color: #9a9a9a;
}
.eighteen>span,.seventeen>span,.thirteen>span{
	font-size: 0.75em;
	font-weight: bold;
}
.jobs{
	width: 394px;
	background: #fff;
	position: absolute;
	direction: ltr;
	margin-right: -396px;
}
.job_div{
	height: 180px;
	background: #fff;
	position: relative;
	line-height: 66px;
	text-indent: 34px;
	font-size: 0.75em;
	color: #9a9a9a;
}
.job_div>a{
	font-size: .75em;
	color: #9a9a9a;
	position: absolute;
	top:18px;
	right:21px ;
	line-height: 1em;
	background: #fff;
	text-align: center;
	text-indent: 0;
	padding: 12px 5px 9px 8px;
	border-radius: 4px;
	border:solid 1px #ebebeb;
}
.job_option{
	box-sizing: border-box;
	padding-top: 26px;
	height: 92px;
	text-indent: 26px;
	border-top: 1px solid #ececec;
}
.job_option>h3{
	font-size: 20px;
}
.job_option>p{
	padding-top: 11px;
	font-size: 13px;
	color: #9a9a9a;
}
.seventeen{
	height:422px ;
	box-sizing: border-box;
	border-bottom: 1px solid #f8f8f8;
	direction: ltr;
	padding-top: 361px;
}
.article{
	width: 580px;
	background: #fff;
	margin-left: -582px;
	margin-top: -46px;
	text-indent:104px ;
}
.article>h1{
	font-size: 40px;
	padding-bottom: 12px;
}
.article>p{
	color: #9a9a9a;
	font-size: 18px;
}
.article_p1{
	padding:18px 0 74px 0;
}
.article_p2{
	padding-bottom: 1em;
}
.btn_read{
	height: 120px;
	border-top: solid 1px #ececec;
	line-height: 164px;
}
.btn_read>a{
	background: #626262;
	color: #fff;
	line-height: 1em;
	border-radius: 4px;
	padding:8px 2px;
	font-size: 17px;
	text-decoration: none;
	text-align: center;
	border: solid 1px #b8b8b8;
}
.thirteen{
	padding-top: 660px;
	box-sizing: border-box;
	border-bottom: 1px solid #f8f8f8;
	height: 732px;
}
.website{
	position: absolute;
	width:581px; 
	height: 557px;
	background: #fff;
	margin-right: -583px;
	direction: ltr;
}
.pic_div{
	position: relative;
	width:485px;
	height: 310px;
	float: left;
}
.pic_div:hover .case_div{
	display: block;
}
.case_div{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	text-align: center;
	background: rgba(59,59,59,0.5);
}
.case_div>button{
	color: #404040;
	font-size: .75em;
	background: #fff;
	border: none;
	border-radius: 6px;
	padding:10px;
	margin-top: 138px;
}
.case_div>button>span:hover{
	color: #efefef;
}
.pic_left{
	width:96px ;
	height: 310px;
 	float: right;
 	text-indent: 16px;
 	border-bottom: solid 1px #eeeeee;
 	background: url(images/bg.png);
}
.pic_left_div{
	margin-top: 20px;
}
.pic_left_div>span{
	font-size: 0.75em;
	font-weight: bold;
}
.pic_left_div>p{
	font-size: 0.625em;
	color: #9a9a9a;
}
.WY_day{
	font-size: 0.625em;
	color: #9a9a9a;
	text-indent: 22px;
	padding-top: 323px;
}
.website>span{
	position: absolute;
	font-size:0.75em; 
	color:#9a9a9a;
	margin-left: 410px;
	margin-top: -21px;
}
.website>h3{
	padding-top: 53px;
	font-size:20px;
	text-indent: 22px;
}
.collor_p{
	font-size: 0.625em;
	color: #9a9a9a;
	text-indent: 22px;
}
.footer{
	max-width: 1350px;
	min-width: 600px;
	height:59px ;
	margin: 0 auto;
	line-height: 59px;
	background: #fff;
	text-align: center;
	font-size: 18px;
	color: #404044;
	border: 1px solid #ececec;
	border-bottom: none;
}
@media ( min-width:1350px) and (max-width:1366px){
	body{
		overflow-x:hidden;
	}
}
@media (max-width:752px){
	.nav_containter_left{
		width: auto;
	}
}
